{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Edit Profile{% endblock %}
{% block main %}


<!--  -->
<div class="about d-flex justify-content-center align-items-center">
    <div class="text-center">
        <small>THE ROYAL ESSENCE OF JOURNEY</small>
        <h6 class="fw-bold my-1">Edit Profile >> <a href="{% url 'home' %}" class="text-decoration-none text-warning ">Home</a>
        </h6>
    </div>
</div>
<!--  -->

<div class="container">
    <h6 class='my-2 p-5'>{% include 'partial/messages.html' %}</h6>

    <div class="row p-5">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <form action="" method="POST" class="p-5 bg-light shadow">
            {% csrf_token %}
            {{ profile_form | crispy}}
            <div class="btn-box mt-4 mx-auto" style="width: fit-content !important;">
               <button type="submit" class="btn btn-warning rounded-3 px-4 ">Edit Profile</button>
            </div>
         </form>
      </div>
    </div>
</div>

{% endblock %}